/* header styles*/
.headerList {
  list-style-type: none;
  background-color: #ffffffe6;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
}

/*auth login styles*/

.loginForm {
  width: 40%;
  margin: 16vh auto 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3e387;
  border-radius: 5vh;
  height: 40vh;
  padding: 3vh;
}

.loginForm section {
  width: 45%;
  display: flex;
  justify-content: space-around;
  height: 28%;
  align-items: center;
}

.loginForm label {
  font-size: large;
}

.loginForm button {
  background-color: #2563eb;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  width: 40%;
  padding: 1vh 0;
}

.loginForm button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.loginForm input {
  width: 60%;
  padding: 1vh 2vh;
  border: none;
  background-color: #ffffff;
  font-size: large;
  border-radius: 1rem;
}

.loginForm input:focus {
  outline: none;
  border: 1px solid #2563eb;
}

.loginForm a {
  cursor: pointer;
  font-size: larger;
}

.loginForm .resend {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-self: flex-start;
}

.loginForm .timerGoing {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-self: flex-start;
}

.loginForm span {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.loginForm .backIcon {
  font-size: large;
}

/*complete profile*/

.completeProfile {
  background-color: #e3e3e387;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0;
  border-radius: 5vh;
  margin: 14vh auto 0 auto;
  height: 56vh;
}

.completeProfile div {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  height: 90%;
  justify-content: space-between;
}

.completeProfile section {
  display: flex;
  width: 90%;
  height: 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.completeProfile input {
  width: 60%;
  padding: 1vh 2vh;
  border: none;
  background-color: #ffffff;
  font-size: large;
  border-radius: 1rem;
}

.completeProfile span {
  display: flex;
  justify-content: center;
}

.completeProfile .passwordInput {
  position: relative;
  width: 85%;
}
.completeProfile .eyeIcon {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-right: -11vw;
  font-size: larger;
  align-self: center;
}

.completeProfile input::before {
  color: #2563eb;
}

.completeProfile input:focus {
  outline: none;
  border: 1px solid #2563eb;
}

.completeProfile button {
  background-color: #2563eb;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  width: 40%;
  padding: 1vh 0;
}

.completeProfile button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
