.adminPage {
  font-size: large;
  display: flex;
  justify-content: space-between;
  margin: 8vh auto 0 auto;
  height: 100vh;
}

.adminPage > section {
  width: 70%;
  display: flex;
  align-items: center;
  height: 80%;
  justify-content: start;
  flex-direction: column;
}

.adminPage table {
  box-shadow: 2px 2px 2px 2px #81858b;
  text-align: center;
  width: 90%;
}

.adminPage table,
.adminPage th,
.adminPage td {
  border: 2px solid #64748b;
  padding: 1vh;
}

.adminSidebar {
  width: 25%;
  height: 60%;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: #64748b;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  list-style-type: none;
}

.adminSidebar li {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.adminSidebar li:last-child {
  border-bottom-right-radius: 2rem;
}

.adminSidebar li:first-child {
  border-top-right-radius: 2rem;
}

.adminSidebar li:hover {
  background-color: #2563eb;
  cursor: pointer;
}

.none {
  display: none;
}

.deleteUser {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  font-size: large;
  background-color: rgba(178, 178, 178, 60%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteUser div {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  align-items: center;
  width: 30%;
  padding: 2vh 0;
  height: 25vh;
}

.deleteUser div > section {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.deleteUser button {
  cursor: pointer;
  width: 45%;
  border: none;
  border-radius: 2rem;
  color: #ffff;
  height: 5vh;
}

.deleteUser button:first-child {
  background-color: #dc2626;
}

.deleteUser button:last-child {
  background-color: #2563eb;
}

.loadingComponent {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

/* vendor page */

.vendorPage {
  width: 90%;
  margin: 5vh auto 0 auto;
}

.vendorPage > span {
  display: flex;
  height: 10vh;
  justify-content: space-around;
}

.vendorPage > span > h3 {
  width: 40%;
  text-align: center;
  margin: 0;
}

.vendorPage > span > h3:last-child {
  cursor: pointer;
  color: cornflowerblue;
}

.vendorPage table {
  position: relative;
  margin: 0 auto;
  font-size: larger;
  width: 70%;
}

.vendorPage table th {
  padding: 1vh 0;
}

.productImage {
  padding: 1vh 0;
}

.vendorPage table,
.vendorPage td,
.vendorPage th,
.vendorPage tr {
  border: 2px solid #64748b;
}

.vendorPage table td {
  text-align: center;
}

.deleteProduct {
  position: absolute;
  background-color: rgba(178, 178, 178, 60%);
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteProduct section {
  background-color: #ffffff;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  height: 32%;
  align-items: center;
}

.deleteProduct section div {
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: space-between;
}

.deleteProduct section div:first-child {
  width: 80%;
}

.deleteProduct section div:last-child {
  width: 50%;
}

.deleteProduct button {
  width: 5.5vw;
  height: 4.2vh;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

.deleteProduct button:first-child {
  background-color: #dc2626;
}

.deleteProduct button:last-child {
  background-color: #2563eb;
}

/* add product section */

.addProduct {
  height: 80vh;
  overflow: scroll;
  width: 90%;
  margin: 0 auto;
}

.addProduct ul {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  list-style-type: none;
  display: grid;
  justify-content: space-around;
  align-content: space-around;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
}

.selectedPart {
  height: 15% !important;
}

.addProduct li {
  padding: 1vh 0;
  background-color: #ffff;
  display: flex;
  justify-content: space-around;
  border-radius: 2rem;
  cursor: pointer;
}

.addProduct button {
  border-radius: 1vh;
  cursor: pointer;
  font-size: medium;
  background-color: #2563eb;
  color: #ffff;
  margin: 0 auto;
  border: none;
}

.tagsPart {
  display: flex;
  justify-content: space-between !important;
  height: 15% !important;
  flex-direction: column;
}

.tagsPart button {
  width: 40%;
  padding: 0.7vh 0;
}

/* body description part */

.addProduct > section > div:nth-child(3) button {
  width: 80%;
  padding: 1.5vh 0;
}

.addProduct > section > div:nth-child(3) > span {
  flex-direction: column;
  height: 70%;
}

.addProduct input,
.addProduct textarea {
  border: none;
  border-radius: 1vh;
  font-size: medium;
  padding: 1vh;
}

.addProduct > section {
  display: flex;
  height: 100%;
  background-color: #d7d7d787;
  border-radius: 2rem;
  justify-content: space-between;
}

.addProduct > section > div {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  justify-content: space-around;
}

.addProduct span {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selectParent div {
  background-color: #ffff;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  border-radius: 1vh;
}

.selectParent select {
  border: none;
  border-radius: 1vh;
  background-color: #ffff;
  font-size: medium;
  height: 100%;
  width: 80%;
  display: flex;
}

/* teacher page */

.addCourse {
  width: 80%;
  border-radius: 2rem;
  height: 80vh;
  background-color: #eaeaea;
  justify-content: space-around;
  margin: 0 auto;
  font-size: medium;
  display: flex;
}

.addCourse input {
  border: none;
  padding: 1vh;
  border-radius: 1vh;
  font-size: medium;
}

.addCourse textarea {
  border-radius: 1vh;
  padding: 1vh;
  border: none;
}

.addCourse section {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addCourse section aside {
  display: flex;
  height: 45%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.addCourse section:last-child button {
  border-radius: 1vh;
  cursor: pointer;
  width: 80%;
  padding: 1.5vh 0;
  font-size: medium;
  background-color: #2563eb;
  color: #ffff;
  margin: 0 auto;
  border: none;
}

.addCourse section span {
  height: 10%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  height: 12% !important;
  flex-direction: column;
}

.tags button {
  background-color: #2563eb;
  border: none;
  border-radius: 1vh;
  width: 60%;
  cursor: pointer;
  color: #fff;
  padding: 1vh 1vw;
}

.addCourse ul {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  justify-content: space-around;
  list-style-type: none;
}

.addCourse div {
  background-color: #ffff;
  width: 60%;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  border-radius: 1vh;
}

.addCourse div select {
  border: none;
  background-color: #ffff;
  font-size: medium;
  width: 70%;
  display: flex;
}

/* teacher page */

.teacherPage {
  width: 80%;
  margin: 5vh auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  padding: 5vh 0;
  border-radius: 2rem;
}

.teacherPage table {
  width: 80%;
  margin-top: 3vh;
  text-align: center;
  border: 1px solid black;
}

.teacherPage td,
.teacherPage tr,
.teacherPage th {
  border: 1px solid black;
  padding: 1vh 0;
}

/* add chapter */

.addChapter {
  width: 80%;
  height: 60vh;
  margin: 10vh auto 0 auto;
  display: flex;
  justify-content: space-around;
  border-radius: 2rem;
  align-items: center;
  background-color: #eaeaea;
}

.addChapter span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.addChapter span:last-child {
  height: 80%;
}

.addChapter input,
.addChapter textarea {
  margin-top: 3vh;
  border: none;
  padding: 1vh;
  border-radius: 1vh;
  font-size: medium;
}

.addChapter button {
  border-radius: 1vh;
  cursor: pointer;
  width: 80%;
  padding: 1.5vh 0;
  font-size: medium;
  background-color: #2563eb;
  color: #ffff;
  margin: 0 auto;
  border: none;
}
